@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Jp's Store</title>
</head>
<body>
    <div>
        <h1>Jp's Store</h1>
    </div>
</body>
</html>
